<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">


    </header>

    <nav id='menu'>
    <ul>
      <li><a href='{{ '/' | relative_url }}'>General Information</a></li>
      <li><a href='{{ '/callPapers/' | relative_url }}'>Call for Papers</a></li>
      <li><a class='dropdown-arrow' href='http://'>Program</a>
        <ul class='sub-menus'>
          <li><a href='{{ '/speakers/' | relative_url }}'>Keynotes</a></li>
          <li><a href='{{ '/program/' | relative_url }}'>Schedule</a></li>
        </ul>
      </li>
      <li><a class='dropdown-arrow' href='http://'>Conference Venue</a>
      <ul class='sub-menus'>
        <li><a href='{{ '/registration/' | relative_url }}'>Registration</a></li>
        <li><a href='{{ '/practicalInformations/' | relative_url }}'>Location</a></li>
      </ul>
    </li>
      <li><a href='{{ '/organisation/' | relative_url }}'>Organisation Commitee</a></li>
   </ul>
</nav>

    <main id="content" class="main-content" role="main">
      {{ content }}

    </main>
    <footer class="site-footer" 
      style="background:#f2f2f2; padding:20px; text-align:center; margin-top:40px; width:100%;">
      <div style="display: flex; justify-content: center; align-items: center; gap: 40px; flex-wrap: wrap;">
        <img src="{{ '/Images/DATAIA-logo.png' | relative_url }}" alt="Logo 1" style="height:80px;">
        <img src="{{ '/Images/IPPARIS_logo.png' | relative_url }}" alt="Logo 2" style="height:80px;">
        <img src="{{ '/Images/GS-informatique_logo.png' | relative_url }}" alt="Logo 3" style="height:80px;">
      </div>
      <p style="margin-top: 15px; font-size: 0.9em;">&copy; 2025 JDSE Conference. All rights reserved.</p>
      <p style="margin-top: 15px; font-size: 0.9em;">&copy; This conference is supported by the institut <a href="https://www.dataia.eu/"> DATAIA </a> </p>
    </footer>
  </body>
</html>
